.modal-signup{
    padding: 0;

    .onboarding-btn{
        width: 50%;
    }

    .onboarding-btn-outline{
        background-color: white;
        border-style: solid;
        border-color: #BA3B46;
        border-width: 5px;

        h3{
            color: #BA3B46;
            font-weight: bold;
        }
    }
}

.login-btn{

    background-color: #0099e5;
    border: none;
    width: 50%;
    padding: 15px;
    margin-bottom: 20px;
    opacity: 0.9;
    margin-left: auto;
    margin-right: auto;
    display: block;

    &:hover{
        opacity: 1;
    }

    h3{
        color: white;
        margin: 0;
    }
}

.modal-content{
    border-radius: 0;
    border:none;
}

.modal-heading{
    text-align: center;
    font-family: lato;

    h4{
        font-weight: 200;
        margin-bottom: 0px;
    }

    h2{
        font-weight: 800;
        margin-top: 10px;
    }
}