<div class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content modal-integer">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div class='modal-heading'>
                    <h4>Want to like something?</h4>
                    <h2>Need to login for that</h2>
                </div>
                <br>
                <br>
                <button ng-click='login()' class="login-btn"><h3>Login <i class="fa fa-500px" aria-hidden="true"></i></h3></button>
            </div>
        </div>

    </div>
</div>